__pycache__/
*.pyc
.venv/
venv/
env/
.ipynb_checkpoints/
*.f[0-9][0-9][0-9][0-9][0-9]
*.nek5000
*.re2
*.ma2
*.vtu
*.vtm
*.vtk
*.h5
*.hdf5
*.npz
*.npy
output/
results/
postproc/
figures/
tables/
.vscode/
